/* Initial state: Hidden */
.scroll-reveal {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;
  }
  
  /* Visible state: Shown */
  .scroll-reveal.visible {
    opacity: 1;
    transform: translateY(0);
  }
  
  /* Additional animations */
  .fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  .fade-in.visible {
    opacity: 1;
  }
  
  .slide-in-left {
    transform: translateX(-50%);
    opacity: 0;
    transition: transform 0.5 ease-out, opacity 1.5s ease-out;
  }
  .slide-in-left.visible {
    transform: translateX(0);
    opacity: 1;
  }
  
  .slide-in-right {
    transform: translateX(20vw); /* Slide in from 20% of the viewport width */
    opacity: 0;
    transition: transform 0.5 ease-out, opacity 1.5s ease-out;
  }
  
  .slide-in-right.visible {
    transform: translateX(0);
    opacity: 1;
  }
  
  /* Fade in from bottom */
  .fade-in-bottom {
    opacity: 0;
    transform: translateY(50px); /* Start 50px lower */
    transition: opacity 0.5 ease, transform 1.5s ease;
  }
  
  .fade-in-bottom.visible {
    opacity: 1;
    transform: translateY(0); /* Reset position */
  }
  
  /* Fade in from top */
  .fade-in-top {
    opacity: 0;
    transform: translateY(-50px); /* Start 50px higher */
    transition: opacity 0.5 ease, transform 1.5s ease;
  }
  
  .fade-in-top.visible {
    opacity: 1;
    transform: translateY(0); /* Reset position */
  }
  
  /* Slide in from bottom */
  .slide-in-bottom {
    opacity: 0;
    transform: translateY(100px); /* Start 100px lower */
    transition: opacity 0.5 ease, transform 1.5s ease;
  }
  
  .slide-in-bottom.visible {
    opacity: 1;
    transform: translateY(0); /* Reset position */
  }
  
  /* Slide in from top */
  .slide-in-top {
    opacity: 0;
    transform: translateY(-100px); /* Start 100px higher */
    transition: opacity 0.5 ease, transform 1.5s ease;
  }
  
  .slide-in-top.visible {
    opacity: 1;
    transform: translateY(0); /* Reset position */
  }