* {
    font-family: "Roboto Flex", sans-serif;
    --accent-color: #50c878;
    --primary-color: #569064;
    --secondary-color: #5c574f;
    --tritary-color: #f5f5dc;
    scroll-behavior: smooth;  
}





@keyframes border-center {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
  
.animate-border {
    position: relative;
    overflow: hidden;
}
  
a:hover::after {
    content: "";
    position: absolute;
    bottom: -2px; /* Adjust this value to match the border width */
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px; /* Adjust this value to match the border width */
    background-color: var(--accent-color); /* Tailwind green-500 */
    animation: border-center 0.3s forwards;
}

/* CSS */
.btn-main {
  align-items: center;
  background-clip: padding-box;
  background-color: rgb(34 197 94);
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-size: 18px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.btn-main:hover,
.btn-main:focus {
  background-color: var(--primary-color);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.btn-main:hover {
  transform: translateY(-1px);
}

.btn-main:active {
  background-color: rgb(22 163 74);
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

.btn-main-outline {
  align-items: center;
  background-clip: padding-box;
  border: var(--accent-color) 1px solid ;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 18px;
  font-weight: 600;
  justify-content: center;
  margin: 0;
  padding: 6px calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.btn-main-outline:hover,
.btn-main-outline:focus {
  background-color: var(--accent-color);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.btn-main-outline:hover {
  transform: translateY(-1px);
}

.btn-main-outline:active {
  background-color: rgb(22 163 74);
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(16px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 1s ease-out forwards;
}