* {
    --accent-color: #50c878;
    --primary-color: #569064;
    --secondary-color: #5c574f;
    --tritary-color: #f5f5dc;
    scroll-behavior: smooth;  
}

body {
  background-color: #1E1E1E;
}
p {
  font-family: "Roboto", serif;
  color: #E0E0E0;
}
h4 {
  font-family: "Oswald", serif;
  color: #E0E0E0;
}
h1 {
  font-family: "Oswald", serif;
  color: #E0E0E0;
}
h2 {
  font-family: "Oswald", serif;
  color: #E0E0E0;
}
h3 {
  font-family: "Oswald", serif;
  color: #E0E0E0;
}