* {
    --accent-color: hsl(181, 98%, 46%);
    --primary-color: #38abd3; 
    --primary-text: hsl(0, 0%, 90%);
    --secondary-text: hsl(0, 0%, 70%);
    --tertiary-text: hsl(0, 0%, 10%);
    scroll-behavior: smooth;  
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  background-color: #191919; 
}
p {
  font-family: "Roboto", serif;
  font-display: swap;
  color: var(--secondary-text);
}
h4 {
  font-family: "Oswald", serif;
  font-display: swap;
  color: var(--primary-text);
}
h1 {
  font-family: "Oswald", serif;
  font-display: swap;
  color: var(--primary-text);
}
h2 {
  font-family: "Oswald", serif;
  font-display: swap;
  color: var(--primary-text);
}
h3 {
  font-family: "Oswald", serif;
  font-display: swap;
  color: var(--primary-text);
}
ul li {
  font-family: "Roboto", serif;
  font-display: swap;
  color: var(--primary-text);
}
li {
  font-family: "Roboto", serif;
  font-display: swap;
  color: var(--primary-text);
}
ul {
  padding-left: 1.5rem;
  list-style-type: disc;
}
ul ul {
  padding-left: 2rem;
}
a {
  font-family: "Roboto", serif;
  font-display: swap;
}

.oswald {
  font-family: "Oswald", serif !important;
  font-display: swap;
  color: var(--primary-text);
}

.roboto {
  font-family: "Roboto", serif !important;
  font-display: swap;
  color: var(--secondary-text);
}

.gradient-text-1 {
  background: linear-gradient(90deg, #38abd3, #38abd3, #37d4db, #37d4db);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-text-2 {
  background: linear-gradient(90deg, #38abd3, #7efd83, #95fe7e, #90de91);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-button-1 {
  background: linear-gradient(90deg, #38abd3, #37d4db);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-button-2 {
  background: linear-gradient(90deg, #38abd3, #38abd3, #37d4db);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-button-3 {
  background: linear-gradient(90deg, #38abd3, #7efd83, #90de91);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

